:root {

        --color-normal: '#A8A77A';
        --color-fire: '#EE8130';
        --color-water: '#6390F0';
        --color-electric: '#F7D02C';
        --color-grass: '#7AC74C';
        --color-ice: '#96D9D6';
        --color-fighting: '#C22E28';
        --color-poison: '#A33EA1';
        --color-ground: '#E2BF65';
        --color-lying: '#A98FF3';
        --color-psychic: '#F95587';
        --color-bug: '#A6B91A';
        --color-rock: '#B6A136';
        --color-ghost: '#735797';
        --color-dragon: '#6F35FC';
        --color-dark: '#705746';
        --color-steel: '#B7B7CE';
        --color-fairy: '#D685AD';
}



.card {
    width: 200px;
    padding: 10px;
    border-radius: 14px;
    color: white;
}

.image-container {
    display: flex;
    justify-content: center;
}

img {
    width: 60%;
}

h4 {
    margin-bottom: 10px;
}

#id {
    margin-bottom: 10px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.788);
    font-weight: 400;
}

#type {
    margin-bottom: 5px;
    padding: 5px 12px;
    border-radius: 18px;
    width: fit-content;
    color: black;
}

/* Type color at bottom of card */
#type.grass {
    background-color: #00d112;
}

#type.fire {
    background-color: #e12b3d;
}

#type.water {
    background-color: #2fb6ff;
}

#type.bug {
    background-color: #eaa51d;
}

#type.normal {
    background-color: #f2eae7;
}

#type.poison {
    background: #cc5bfd
}

#type.electric {
    background: rgb(255, 237, 75);
}

/* Card background color */
#grass {
background: #03bd13;
}

#fire {
background: #FF0A23;
}

#water {
background: #00A6FF;
}

#bug {
background: #DE9400;
}

#normal {
background: #DED4D1;
}

#poison {
    background: #b50aff
}

#electric {
    background: rgb(255, 230, 0);
}

#ground {
    background: dark
}