:root {

    --color-normal: #A8A77A;
    --color-fire: #EE8130;
    --color-water: #6390F0;
    --color-electric: #F7D02C;
    --color-grass: #7AC74C;
    --color-ice: #96D9D6;
    --color-fighting: #C22E28;
    --color-poison: #A33EA1;
    --color-ground: #E2BF65;
    --color-flying: #A98FF3;
    --color-psychic: #F95587;
    --color-bug: #A6B91A;
    --color-rock: #B6A136;
    --color-ghost: #735797;
    --color-dragon: #6F35FC;
    --color-dark: #705746;
    --color-steel: #B7B7CE;
    --color-fairy: #D685AD;

    /* Lighter shades */
    --color-normal-light: #C2C8A4;
    --color-fire-light: #F5A35B;
    --color-water-light: #8FB6F9;
    --color-electric-light: #F9E94E;
    --color-grass-light: #9CD57A;
    --color-ice-light: #B3E0DD;
    --color-fighting-light: #D55C5E;
    --color-poison-light: #B75BCC;
    --color-ground-light: #E8D58F;
    --color-flying-light: #B3A8F5;
    --color-psychic-light: #F8A2A8;
    --color-bug-light: #BDC731;
    --color-rock-light: #D1B84D;
    --color-ghost-light: #8A6F9C;
    --color-dragon-light: #8D5CF8;
    --color-dark-light: #8B6B59;
    --color-steel-light: #C2C2D0;
    --color-fairy-light: #E2A4B9;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 14px;
    color: white;
}

.image-container {
    display: flex;
    justify-content: center;
}

img {
    width: 60%;
}

h4 {
    margin-bottom: 10px;
}

#id {
    margin-bottom: 10px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.788);
    font-weight: 400;
}

#type {
    margin-bottom: 5px;
    padding: 5px 12px;
    border-radius: 18px;
    width: fit-content;
    color: black;
}

/* Type color at bottom of card */
#type.grass {
    background-color: var(--color-grass-light);
}

#type.fire {
    background-color: var(--color-fire-light);
}

#type.water {
    background-color: var(--color-water-light);
}

#type.bug {
    background-color: var(--color-bug-light);
}

#type.normal {
    background-color: var(--color-normal-light);
}

#type.poison {
    background-color: var(--color-poison-light);
}

#type.electric {
    background-color: var(--color-electric-light);
}

#type.ground {
    background: var(--color-ground-light);
}

#type.fairy {
    background: var(--color-fairy-light);
}

#type.fighting {
    background: var(--color-fighting-light);
}

#type.psychic {
    background: var(--color-psychic-light);
}

#type.rock {
    background: var(--color-rock-light);
}

#type.ghost {
    background: var(--color-ghost-light);
}

#type.ice {
    background: var(--color-ice-light);
}

#type.dragon {
    background: var(--color-dragon-light);
}

/* Card background color */
#grass {
    background: var(--color-grass);
}

#fire {
    background: var(--color-fire);
}

#water {
    background: var(--color-water);
}

#bug {
    background: var(--color-bug);
}

#normal {
    background: var(--color-normal);
}

#poison {
    background: var(--color-poison);
}

#electric {
    background: var(--color-electric);
}

#ground {
    background: var(--color-ground);
}

#fairy {
    background: var(--color-fairy)
}

#fighting {
    background: var(--color-fighting);
}

#psychic {
    background: var(--color-psychic);
}

#rock {
    background: var(--color-rock);
}

#ghost {
    background: var(--color-ghost);
}

#ice {
    background: var(--color-ice);
}

#dragon {
    background: var(--color-dragon);
}